
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/View.cshtml";
}

<h2>Education</h2>

<table class="table table-bordered">
    <tr>
        <th>Name of Degree</th>
        <th>Institute</th>
        <th>Year</th>
        <th>GPA</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Degree</td>
            <td>@item.Institute</td>
            <td>@item.Year</td>
            <td>@item.Cgpa</td>
        </tr>
    }
</table>

